@theme "~/.cache/wal/colors-rofi-dark.rasi"

configuration {
    modi: "window,drun";
    show-icons: true;
    font: "FiraCode Nerd Font 12";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    sidebar-mode: true;
}
