@import url("../../.cache/hellwal/colors-waybar.css");

@define-color backgroundcolor @color3;
@define-color bordercolor @color13;
@define-color textcolor @color15;
@define-color activecolor @color7;
@define-color iconcolor @color15;
@define-color activebackground @color4;

* {
    font-family: MonaspiceNe Nerd Font, FiraCode Nerd Font;
    font-size: 14px;
    font-weight: 600;
    transition: 0;
    box-shadow: none;
}

/* Waybar ----------------------------- */

window#waybar {
    background: transparent;
    color: @textcolor;
}

/* Workspaces ------------------------- */

#workspaces {
    background: @backgroundcolor;
    padding: 0;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 0.5rem;
    color: @textcolor;
    border-radius: 0;
}

#workspaces button.active {
    background: @activebackground;
    color: @activecolor;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    color: @bordercolor;
    text-shadow: inherit;
}

#workspaces button.active:hover {
    background: rgba(0, 0, 0, 0.1);
    color: @bordercolor;
}

#workspaces button.focused {
    box-shadow: none;
}

#workspaces button:first-child:last-child {
    border-radius: 8px;
}

#workspaces button:first-child:not(:last-child) {
    border-radius: 8px 0 0 8px;
}

#workspaces button:last-child:not(:first-child) {
    border-radius: 0 8px 8px 0;
}

/* Window ----------------------------- */

#window {
    padding: 0 0.5rem;
    background: @backgroundcolor;
    border-radius: 8px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Tray ------------------------------ */

#tray {
    padding: 0 0.5rem;
    background: @backgroundcolor;
    border-radius: 8px;
    color: @textcolor;
    margin-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* Battery --------------------------- */

#battery {
    padding: 0 0.5rem;
    background: @backgroundcolor;
    border-radius: 8px;
    margin-right: 8px;
}

/* Clock ----------------------------- */

#clock {
    padding: 0 0.5rem;
    background: @backgroundcolor;
    border-radius: 8px;
}
