@import url("../../.cache/wallust/colors/waybar.css");

@define-color border @color10;
@define-color foreground-alt @color6;
@define-color foreground-hover @color14;
@define-color background-alt rgba(255, 255, 255, 0.12);

* {
    font-family: MonaspiceNe Nerd Font, FiraCode Nerd Font;
    font-size: 14px;
    font-weight: 600;
    transition: 0;
    box-shadow: none;
}

/* Waybar ----------------------------- */

window#waybar {
    background: transparent;
    color: @foreground;
}

/* Workspaces ------------------------- */

#workspaces {
    background: @background;
    padding: 0;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 0.5rem;
    color: @foreground;
    border-radius: 0;
}

#workspaces button.active {
    background: @background-alt;
    color: @foreground-alt;
}

#workspaces button:hover {
    background: @background-alt;
    border: 1px solid transparent;
    color: @foreground-alt;
    text-shadow: inherit;
}

#workspaces button.active:hover {
    background: @background-alt;
    color: @foreground-alt;
}

#workspaces button.focused {
    box-shadow: none;
}

#workspaces button:first-child:last-child {
    border-radius: 8px;
}

#workspaces button:first-child:not(:last-child) {
    border-radius: 8px 0 0 8px;
}

#workspaces button:last-child:not(:first-child) {
    border-radius: 0 8px 8px 0;
}

/* Window ----------------------------- */

#window {
    padding: 0 0.5rem;
    background: @background;
    border-radius: 8px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Tray ------------------------------ */

#tray {
    padding: 0 0.5rem;
    background: @background;
    border-radius: 8px;
    color: @foreground;
    margin-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    color: @foreground;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @foreground;
}

/* Battery --------------------------- */

#battery {
    padding: 0 0.5rem;
    background: @background;
    border-radius: 8px;
    margin-right: 8px;
}

/* Clock ----------------------------- */

#clock {
    padding: 0 0.5rem;
    background: @background;
    border-radius: 8px;
}
