@import url("../../.cache/hellwal/colors-waybar.css");

@define-color backgroundcolor @color10;
@define-color bordercolor @color5;
@define-color textcolor1 @color7;
@define-color iconcolor @color7;
@define-color workspacesbackground @color1;
@define-color hoverbackground @color14;

* {
    font-family: MonaspiceNe Nerd Font, FiraCode Nerd Font;
    font-size: 14px;
    font-weight: 600;
    transition: 0;
    box-shadow: none;
}

/* Waybar ----------------------------- */

window#waybar {
    background: transparent;
    color: @color15;
}

/* Workspaces ------------------------- */

#workspaces {
    background: @color3;
    padding: 0;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 0.5rem;
    color: @color13;
    border-radius: 0;
}

#workspaces button.active {
    background: @color5;
    color: @color0;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    color: @color7;
    text-shadow: inherit;
}

#workspaces button.active:hover {
    background: @color13;
    color: @color0;
}

#workspaces button.focused {
    box-shadow: none;
}

#workspaces button:first-child:last-child {
    border-radius: 8px;
}

#workspaces button:first-child:not(:last-child) {
    border-radius: 8px 0 0 8px;
}

#workspaces button:last-child:not(:first-child) {
    border-radius: 0 8px 8px 0;
}

/* Window ----------------------------- */

#window {
    padding: 0 0.5rem;
    background: @color3;
    border-radius: 8px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Modules R ------------------------- */

.modules-right {
    padding: 0 0.5rem;
    background: @color3;
    border-radius: 8px;
}

/* Tray ------------------------------ */

#tray {
    padding: 0px 12px 0px 0px;
    margin-right: 12px;
}

#tray:first-child:last-child {
    padding: 0;
}

#tray:last-child:not(:first-child) {
    padding: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* Battery --------------------------- */

#battery {
    padding: 0;
    margin-right: 12px;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Clock ----------------------------- */